body {
  margin-top:       0px;
  margin-left:      0px;
  margin-right:     0px;
  background-color: #fff;
  font-size:        15px;
  font-family:      -apple-system, "HelveticaNeue",  "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering:   optimizeLegibility;
}

.main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
}

.header {
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 800px;
}

.headerTitle {
  font-weight: bold;
  font-size: 2em;
}

.headerLinks {
  font-size: 10pt;
}

.header a {
  color: #000;
}

.headerFoot {
  font-weight: normal;
  font-size: 13px;
  color: #999;
}

.date {
  color: #999;
  font-size: .8em;
}

.post {
  font-size: 15px;
}

.postTitle {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 0px;
}

.postTitle a {
  color: #000;
  text-decoration: none;
}
.postTitle a:hover {
  color: #253253;
  text-decoration: underline;
}

#copyright {
  font-size: 9pt;
  color: #555;
}

.quote, blockquote {
  color: #444;
  background: #fafafa;
  border-left: solid 1px #ddd;
  padding: 5px;
  padding-left: 15px;
  margin-bottom: -1.5em;
  margin: 0px;
}

.post {
  padding-bottom: 40px;
  color: #000;
  font-size: 15px;
  max-width: 800px;
}

.main a {
  color: #253253;
}

.archiveMonthHeader {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.archiveEntry {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 10px;
}

.archiveMonthEntry {
  margin-top: 0px;
  margin-bottom: 20px;
}

.paginator {
  max-width: 800px;
  margin-bottom: 20px;
  text-align: center;
}

div.highlight {
  padding: 8px;
  border-radius: 6px;
  background-color: #f6f8fa;
}

code {
  font-family: SFMono-Regular,Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace;
  font-size: 12px;
  overflow: auto;
  background-color: #f6f8fa;
}

pre {
  font-family: SFMono-Regular,Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace;
  font-size: 12px;
  overflow: auto;
  background-color: #f6f8fa;
  padding: 12px;
  margin: 0px;
}

div.gist-footer {
  margin: 2px 0px;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: bold;
  background-color: #eef0f2;
}

mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 99%;
}
